{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Playwrite+PL:wght@100..400&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet"  href="{% static 'home.css' %}">
<h1>Home</h1>
<ul>
    <li>
        <a href ="{% url 'ticket_creation' %}">
            <button type="button">Create a new ticket</button>
        </a>
    </li>
    <li>
        <a href ="{% url 'user_tickets' %}">
            <button type="button">View tickets</button>
        </a>
    </li>
</ul>
