
*{
    font-size:large;
}
body {
    background-image: linear-gradient(to right, purple, pink);
    color: white;
}
h1 {
    font-size: 2em;
    font-family: 'Poppins', serif;
}
button {
    font-size: larger;
    border-radius: 20em;
    color: white;
    background-color: teal;
    font-weight: bold;
}
li{
    font-size:2em;
    margin: 3em;
}