*{
    font-size:large;
}
body {
    background-image: linear-gradient(to right, purple, pink);
    color: white;
}
h1 {
    font-size: 3em;

}
button {
    font-size: large;
    border-radius: 20em;
    color: white;
    background-color: teal;
    font-weight: bold;
}